.access-button {
    display: inline-block;
    background-color: #ef499f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.access-button:hover {
    background-color: #ff0090;
}

.access-button:focus {
    outline: none;
}

.welcome-text {
    padding-left: 500px;
    padding-right: 500px;
}

.main-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.welcome-section {
    height: 100%;
}

.inputContainer {
    padding: 10px;
}